<!--header start-->
<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="切换导航"></div>
    </div>
    <!--logo start-->
    <a href="index.html" class="logo"><b>XZCODER 内网穿透服务</b></a>
    <!--logo end-->
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="{:url('user/index/logout')}">退出</a></li>
        </ul>
    </div>
</header>
<!--header end-->